:root {
	--font-color: hsl(0, 100%, 100%);
	--bg-color: hsl(257, 40%, 49%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	color: var(--font-color);
}

.hero {
	background-color: var(--bg-color);
}

.hero__title {
	margin: 0;
}

.hero__description {
	margin: 0;
}

.hero__button {
	border: none;
	border-radius: 2rem;
	background-color: var(--font-color);
	color: var(--bg-color);
}

.footer {
	color: #000;
	margin-top: 5rem;
}

.attribution {
	font-size: 0.733em;
	text-align: center;
}

.attribution__anchor {
	color: hsl(228, 45%, 44%);
}
